<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: gray;color:skyblue">
    <h1 style="text-align:center;">user Profile page</h1>

<section id="gigs" class="container">
  
    {{#each users}}
 
            </h3>
            <p>{{this.dataValues.email}}</p>
            <ul>
           
              
       
       

   

    {{/each}}
</section>
</body>
</html>