<!-- BEGIN #my-account -->
<div id="about-us-cover" class="section-container">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="/">Home</a></li>
            <li class="active">My Account Login </li>
        </ul>
        <!-- END breadcrumb -->
        <!-- BEGIN account-container -->
        <div class="account-container">


            <div class="account-body">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6">
                        <div class="subscription-form">
                            <form name="subscription_form"  action="/user-login" method="POST">
                                <h1>User Login </h1>
                                <br class="input-group">
                                <input type="text" class="form-control" name="email"
                                    placeholder="Enter Email Address" /></br>
                                <input type="password" class="form-control" name="password"
                                    placeholder="Enter Your password here" /><br>
                                <div>
                                    <button type="submit" class="btn btn-inverse">Sign in</button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->

                <!-- END col-6 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END account-body -->
    </div>
    <!-- END account-container -->
</div>
<!-- END container -->
</div>
<!-- END #about-us-cover -->